\documentclass[11pt,twoside,a5paper]{book}
\usepackage[mathletters]{ucs}
\usepackage[utf8]{inputenc}
\usepackage[ngerman]{babel}
\usepackage[T1]{fontenc}
\usepackage[inner=20mm,outer=20mm,top=15mm,bottom=10mm,includeheadfoot]{geometry}
\usepackage{fancyhdr}
\usepackage{graphicx}
\pagestyle{plain}
